// Отступы
$mainPadding: 20px;
$submainPadding: 10px;

$mainMargin: 20px;
$submainMargin: 10px;

// Цвета
$mainTextColor: white;
$submainTextColor: rgba(255, 255, 255, 0.87);
$selectedTextColor: #535bf2;

$borderColor: #646cff;

$primaryColor: #1a1a1a;
$secondaryColor: #333;
$bgColor: #242424;


// Размеры 
$mainBorderRadius: 10px;

// Время 
$hoverAnimationTime: 0.3s;